.header {
  background-color: white;
  margin-bottom: 40px;
}
.linksContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 60px;
  line-height: 20px;
  width: 100%;
  padding-right: 147px;
}
.links {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}

.activeLink {
  color: #5e96fc;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1116px;
  margin: 0 auto;
}
.nav {
  height: 84px;
  width: 100%;
  display: flex;
}

@media (max-width: 768px) {
  .linksContainer {
    padding-right: 0px;
  }
}
@media (max-width: 475px) {
  .linksContainer {
    justify-content: space-evenly;
    gap: 0px;
  }
}
