.form {
  padding: 20px 20px;
  min-width: 315px;
  background-color: white;
  border: 1px solid #eaebed;
  align-self: flex-start;
  border-radius: 12px;
}
.formHeader {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  gap: 67px;
}
.formHeaderText {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #232134;
}
.resetBtn {
  outline: none;
  border: 0;
  background: transparent;
  color: #acadb9;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.resetBtn:hover {
  color: #92c1ff;
}
.resetBtn:active {
  color: #5e96fc;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.applyBtnText {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: white;
}
.closeIcon:hover * {
  stroke: #92c1ff;
  fill: #92c1ff;
}
.closeIcon:active * {
  stroke: #5e96fc;
  fill: #5e96fc;
}
.numberInputUp {
  outline: none;
  border: 0;
  background: transparent;
}
.applyButton {
  outline: none;
  border: 0;
  background-color: #5e96fc;
  width: 100%;
  padding: 9.5px 98.5px;
  border-radius: 8px;
  cursor: pointer;
}
.applyButton:hover {
  background-color: #92c1ff;
}
.applyButton:active {
  background-color: #3b7cd3;
}
@media (max-width: 768px) {
  .form {
    width: 100%;
  }
  .formHeader {
    justify-content: space-between;
  }
}
