.inputGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 12px 8px 14px;
  margin-bottom: 16px;
}
.inputSearch {
  border: none;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  margin-left: 8px;
  font-family: 'Inter';
}
.inputSearch::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #acadb9;
}
.btnInputSearch {
  padding: 5.5px 20px;
  background: #5e96fc;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.btnInputSearch:active {
  opacity: 0.7;
}
.inputGroup:focus-within {
  outline: 1px solid #5e96fc;
}
.inputGroup:hover {
  outline: 1px solid #5e96fc;
}
