.container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  gap: 28px;
}
.findVacancyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
