* {
  line-height: 20px;
}
.vacancyDescriptionContainer {
  padding: 24px;
  box-sizing: border-box;
  text-align: left;
  border: 1px solid #eaebed;
  border-radius: 12px;
  background: #fff;
  font-family: 'Inter';
  color: #232134;
}
p {
  padding: 5px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
li {
  list-style-position: inside;
}
