.singlaVacancyContainer {
  background-color: white;
  padding: 24px;
  border: 1px solid #eaebed;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 16px;
  max-height: 137px;
}
.vacancyName {
  color: #5e96fc;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12.5px;
  max-width: 687px;
  overflow: hidden;
  white-space: nowrap;
}
.vacancyMainPart {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 12.5px;
}
.vacancyDescriptionMain {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 16.5px;
}
.divider {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #7b7c88;
}
.salaryInfo {
  color: #232134;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.footer {
  display: flex;
  align-items: center;
  gap: 11px;
}
.vacancyHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.favoriteStar {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.star:hover * {
  stroke: #5e96fc;
}
.star:active {
  fill: #5e96fc;
}
.favoriteStarIcon * {
  stroke: #5e96fc;
  fill: #5e96fc;
}
.typeOfWork {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}
.vacancyDesciptionType {
  font-size: 20px;
}
.vacancyDescriptionName {
  padding-bottom: 16.5px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #232134;
}
.vacancyDescriptionSalary {
  font-weight: 700;
  font-size: 20px;
}
.singleVacancy {
  max-height: 157px;
}
