.singlaVacancyContainer {
  background-color: white;
  padding: 24px;
  border: 1px solid #eaebed;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 16px;
}
.vacancyName {
  color: #5e96fc;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12.5px;
}
.vacancyMainPart {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 12.5px;
}
.vacancyDescriptionMain {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-bottom: 16.5px;
}
.divider {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  text-align: center;
  color: #7b7c88;
}
.salaryInfo {
  color: #232134;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.footer {
  display: flex;
  align-items: center;
  gap: 11px;
}
.vacancyHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.favoriteStar {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.star:hover * {
  stroke: #5e96fc;
}
.star:active {
  fill: #5e96fc;
}
.favoriteStarIcon * {
  stroke: #5e96fc;
  fill: #5e96fc;
}
.typeOfWork {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #232134;
}
.vacancyDesciptionType {
  font-size: 20px;
}
.vacancyDescriptionName {
  padding-bottom: 16.5px;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  color: #232134;
}
.vacancyDescriptionSalary {
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 450px) {
  .singlaVacancyContainer {
    padding: 14px;
  }
  .vacancyName {
    font-size: 16px;
  }
  .salaryInfo,
  .typeOfWork {
    font-size: 18px;
  }
}
@media (max-width: 410px) {
  .salaryInfo,
  .typeOfWork {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .vacancyDescriptionName {
    font-size: 24px;
  }
  .vacancyDescriptionSalary {
    font-size: 18px;
  }
  .vacancyDesciptionType {
    font-size: 18px;
  }
  .singlaVacancyContainer {
    padding: 20px;
  }
}
@media (max-width: 500px) {
  .vacancyDescriptionName {
    font-size: 20px;
  }
}
@media (max-width: 465px) {
  .vacancyDescriptionMain,
  .vacancyMainPart {
    gap: 6px;
  }
}
@media (max-width: 440px) {
  .vacancyDescriptionMain {
    align-items: flex-start;
    flex-direction: column;
  }
}
